 @import url("fonts.css");
 @import url("font-awesome/css/font-awesome.min.css");
 @import url("micons/micons.css");
 
 html {
     font-size: 10px;
     zoom:90%;
 }
 


 html, body {
     height: 100%;
     background-color: #F1F1F1;
 }
 body {
     background: #151515;
     font-family: "lora-regular", serif;
     font-size: 1.7rem;
     line-height: 3rem;
 }
 
 
 /** 
  * ===================================================================
  * 03. typography & general theme styles - (_document-setup.scss)
  *
  * ------------------------------------------------------------------- 
  */
 h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
     /* font-family: "poppins-semibold", sans-serif; */
     font-family: 'Playfair';
     /* font-family: 'Luminari'; */
     color: #313131;
     font-style: normal;
     text-rendering: optimizeLegibility;
     margin-bottom: 2.1rem;
 }
 h3, .h03, h4, .h04 {
     margin-bottom: 1.8rem;
 }
 h5, .h05, h6, .h06 {
     font-family: 'Luminari';
     /* font-family: "poppins-bold"; */
     margin-bottom: 1.2rem;
 }
 h1, .h01 {
     font-size: 3.1rem;
     line-height: 1.355;
     letter-spacing: -.1rem;
 }

 h2, .h02 {
     font-size: 2.4rem;
     line-height: 1.25;
 }
 h3, .h03 {
     font-size: 2rem;
     line-height: 1.5;
 }
 h4, .h04 {
     font-size: 1.7rem;
     line-height: 1.765;
 }
 h5, .h05 {
     font-size: 1.4rem;
     line-height: 1.714;
     text-transform: uppercase;
     letter-spacing: .15rem;
 }
 h6, .h06 {
     font-size: 1.3rem;
     line-height: 1.846;
     text-transform: uppercase;
     letter-spacing: .15rem;
 }
 p img {
     margin: 0;
 }
 p.lead {
    color: rgb(49, 49, 49);
    font-size: 21px;
    font-family: lora-regular, serif;
    line-height: 1.8;
    margin-left: 0;
 }



 p .moonQuote{
    font-style: italic;
		text-align: center;
		max-width: 600px;
		line-height: 1.6;
		font-size: 21px;
		color:#180645;
 }

 em, i, strong, b {
     font-size: 1.7rem;
     line-height: 3rem;
     font-style: normal;
     font-weight: normal;
 }
 b{
    font-weight: bold;
 }
 em, i {
     font-family: "lora-italic", serif;
 }
 strong, b {
     font-family: "lora-bold", serif;
 }
 small {
     font-size: 1.2rem;
     line-height: inherit;
 }
 blockquote {
     margin: 3rem 0;
     padding-left: 4rem;
     position: relative;
 }
 blockquote:before {
     content: "\201C";
     font-size: 8rem;
     line-height: 0px;
     margin: 0;
     color: #313131;
     font-family: arial, sans-serif;
     position: absolute;
     top: 3rem;
     left: 0;
 }
 blockquote p {
     font-family: georgia, serif;
     font-style: italic;
     padding: 0;
     font-size: 1.9rem;
     line-height: 1.737;
 }
 blockquote cite {
     display: block;
     font-size: 1.3rem;
     font-style: normal;
     line-height: 1.616;
 }
 blockquote cite:before {
     content: "\2014 \0020";
 }
 blockquote cite a, blockquote cite a:visited {
     color: #888888;
     border: none;
 }
 abbr {
     font-family: "poppins-bold", serif;
     font-variant: small-caps;
     text-transform: lowercase;
     letter-spacing: .05rem;
     color: #888888;
 }
 var, kbd, samp, code, pre {
     font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
 }
 pre {
     padding: 2.4rem 3rem 3rem;
     background: #F1F1F1;
 }
 code {
     font-size: 1.4rem;
     margin: 0 .2rem;
     padding: .3rem .6rem;
     white-space: nowrap;
     background: #F1F1F1;
     border: 1px solid #E1E1E1;
     border-radius: 3px;
 }
 pre > code {
     display: block;
     white-space: pre;
     line-height: 2;
     padding: 0;
     margin: 0;
 }
 pre.prettyprint > code {
     border: none;
 }
 del {
     text-decoration: line-through;
 }
 abbr[title], dfn[title] {
     border-bottom: 1px dotted;
     cursor: help;
 }
 mark {
     background: #FFF49B;
     color: #000;
 }
 hr {
     border: solid #d2d2d2;
     border-width: 1px 0 0;
     clear: both;
     margin: 2.4rem 0 1.5rem;
     height: 0;
 }
 
 /**
  * Lists - (_document-setup.scss)  
  * -------------------------------------------------------------------
  */
 ol {
     list-style: decimal;
 }
 ul {
     list-style: disc;
 }
 li {
     display: list-item;
 }
 ol, ul {
     margin-left: 1.7rem;
 }
 ul li {
     padding-left: .4rem;
 }
 ul ul, ul ol, ol ol, ol ul {
     margin: .6rem 0 .6rem 1.7rem;
 }
 ul.disc li {
     display: list-item;
     list-style: none;
     padding: 0 0 0 .8rem;
     position: relative;
 }
 ul.disc li::before {
     content: "";
     display: inline-block;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: #92A4E0;
     position: absolute;
     left: -17px;
     top: 11px;
     vertical-align: middle;
 }
 dt {
     margin: 0;
     color: #92A4E0;
 }
 dd {
     margin: 0 0 0 2rem;
 }
 

 
 
 /** 
  * ===================================================================
  * 08. common styles (_layout.scss)
  *
  * ------------------------------------------------------------------- 
  */
 .grey-section {
     background: #ebebeb;
 }
 .grey-section p.lead {
     color: #7d7d7d;
 }
 .section-intro {
     max-width: 1400px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-bottom: 3.6rem;
     position: relative;
 }
 .section-intro h1 {
     font-family: 'Playfair';
     /* font-family: 'Luminari'; */
     /* font-family: "poppins-semibold", serif; */
     font-size: 3.6rem;
     color: #180645;
     line-height: 1.25;
     margin-bottom: 1.2rem;
 }
 .section-intro h5 {
     color: #778bcb;
     font-size: 2rem;
     line-height: 1.875;
     margin-bottom: 0.3rem;
     letter-spacing: .4rem;
 }
 
 /**
  * responsive:
  * common styles
  * ------------------------------------------------------------------- 
  */
 @media only screen and (max-width:768px) {
     .section-intro {
         max-width: 650px;
     }
     .section-intro h1 {
         font-size: 2rem;
     }
 }
 @media only screen and (max-width:600px) {
     .section-intro h1 {
         font-size: 2.6rem;
     }
     .section-intro h5 {
         font-size: 1.5rem;
         letter-spacing: .3rem;
     }
     .eighty{
         width: 100%;
         display: block;
         margin: 0 auto;
      }
      
 }
 @media only screen and (max-width:400px) {
     .section-intro h1 {
         font-size: 2.4rem;
     }
     .eighty{
         width: 100%;
         display: block;
         margin: 0 auto;
      }
 }
 
 
 /** 
  * ===================================================================
  * 09. header styles - (_layout.scss)
  *
  * ------------------------------------------------------------------- 
  */
 header {
     position: fixed;
     width: 100%;
     min-height: 66px;
     z-index: 600;
 }
 header .row {
     position: relative;
     min-height: 66px;
 }
 header .top-bar {
     display: block;
     background: #000000;
     min-width: 190px;
     min-height: 66px;
     position: absolute;
     left: -20%;
     /* right:-20px; */
     top: 0;
 }
 header .logo {
     float: right;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 25px;
     position: relative;
     align-items: center;
 }
 header .logo a {
     display: block;
     margin: 0;
     margin-top:8px;
     padding: 0;
     border: none;
     font: 0/0 a;
     text-shadow: none;
     color: #D3DFF2;
     font-family: 'Luminari';
     /* font-family: "poppins-semibold", serif; */
     font-size: 40px;
     align-items: center;
     width: 100px;
     height: 15px;
     background-size: 100px 15px;
 }
 



 
 /**
  *Partiful
  * ------------------------------------------------------------------- 
  */
  .my-page h5{
     margin-top: 3rem;
  }
 
  .my-page h1{
     margin-top: 2vw;
  }
 .my-page #moon {
     background-color: #F1F1F1;
 }
 
 .my-page .mainTextMoon{
         background-color: #F1F1F1;
         align-items: center;
         justify-content: center;
         margin-left:20%;
         margin-right: 20%;
        
     }
    

 
     .my-page {
        background-color: #F9FCFF;
      }
      
      
      #moon {
        background-color: #F1F1F1;
      }
      
      span {
        margin-left: 3.5vw;
        color: #313131;
        font-size: 1.3vw;
        font-family: "lora-regular", serif;
      }
      
      .third-wide {
        width: 40%;
      }
      
      .mainText {
        background-color: #F9FCFF;
        margin-left: 14%;
        margin-right: 14%;
        text-align: center;
      }
      
      h1 {
        font-size: 65px;
        font-family: 'Playfair Display SC', serif;
        text-align: center;
        margin-top: 0;
        margin-bottom: .5vw;
      }
      
      h2 {
        font-size: 32px;
        padding: .5vw .5vw;
        font-family: 'Playfair Display SC', serif;
        color: #5A69A3;
      }
      
      h3 {
        font-size: 25px;
        padding: .1vw;
        font-family: 'Playfair Display', serif;
        color: #5A69A3;
        opacity: 0.9;
        text-align: left;
      }
      
      p, p i {
        color: #313131;
        font-size: 21px;
        font-family: "lora-regular", serif;
      }
      
      p i {
        font-style: italic;
        font-size: 20px;
      }
      
      .lineBreak {
        background-color: #92A4E0;
        width: 100%;
        height: 6px;
      }
      
      .lineBreak2 {
        border-top: 3px dotted #92A4E0;
        background-color: transparent;
        height: 0px;
      }
      
      .moonQuote, .moonQuote i {
        text-align: center;
        line-height: 25px;
        font-size: 18px;
        color: #180645;
      }
      
      .moonQuote2, .moonQuote2 i {
        color: #180645;
        line-height: 33px;
        font-size: 25px;
      }
      
      .nerdBox {
        text-align: left;
        line-height: 25px;
        font-size: 18px;
        color: #313131;
      }
      
      .quote-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        text-align: center;
      }
      
      .quote-container, .quote-container2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
      }
      
      .quote-item {
        flex: 1;
        padding: 10px;
      }
      
      .quote-image {
        width: 100%;
        flex: 1;
        height: auto;
      }
      
      .subheader {
        color: #180645;
        font-size: 16px;
        font-style: italic;
        font-family: "lora-regular", serif;
        text-align: center;
        margin: 0;
        margin-top: .2vw;
      }
      
      .listItem {
        margin-left: 3.5vw;
        font-size: 21px;
        font-family: "lora-regular", serif;
      }
      
      .listItem li {
        margin-left: 5vw;
        margin-bottom: 1vw;
        color: rgb(60, 60, 80);
      }
      
      nav {
        margin: 0;
      }
      
      ul.topnav {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: fixed;
        top: 0;
        width: calc(100% - 15px);
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(26,0,36,1) 0%, rgba(9,52,121,1) 97%);
      }
      
      nav li {
        float: right;
      }
      
      nav li a {
        display: block;
        color: aliceblue;
        font-size: 1.5vw;
        text-align: center;
        text-decoration: none;
        padding: 1vw 1vw;
        font-family: 'Playfair Display', serif;
      }
      
      li a:hover:not(.titleText) {
        filter: brightness(75%);
      }
      
      li a.titleText {
        font-size: 2vw;
        padding: .5vw .5vw;
        font-family: 'Playfair Display SC', serif;
      }
      
      li.titleText {
        float: left;
      }
      
      a {
        color: #6d79bd;
      }
      
      .imgLabel {
        text-align: center;
        font-size: .7vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
        font-family: "lora-regular", serif;
      }
      
      .dot, .dot2 {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      .color-flex {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
        gap: 60px;
      }
      
      .color-flex span {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin-top: 10px;
      }
      
      .color-flex div {
        width: 150px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .font-list {
        padding-left: 70px;
      }
      
      .icon-section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      
      .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 150px;
        height: auto;
        margin: 5px;
      }
      
      figcaption {
        text-align: center;
        margin-bottom: 5px;
      }
      
      .icon {
        width: 40px;
        height: auto;
        aspect-ratio: 1/1;
        margin-top: 10px;
      }
      
      .h5-pages a {
        font-family: 'Luminari';
        color: #778bcb;
        font-size: 2rem;
        line-height: 1.875;
        margin-bottom: 0.3rem;
        letter-spacing: .4rem;
      }
      
      .ossSlide {
        height: 600px;
      }
      
      .eighty {
        width: 100%;
        display: block;
        margin: 0 auto;
      }
      
      .thirty {
        width: 20%;
        display: block;
        margin: 0 auto;
      }
      
 
 
 .header-img{
     margin-top: 2vw;
     width:70%;
     height: auto;
 }
 

 
 @media (max-width: 650px) {
    .my-page .quote-container {
        flex-direction: column;
    }
    .my-page .mainTextMoon {
        background-color: #F1F1F1;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .my-page .moonQuote2, .moonQuote2 i {
        color: #180645;
        line-height: 33px;
        font-size: 15px;
    }
    .my-page .lead {
        font-size: 12px;
    }
    .my-page p i {
        font-size: 12px;
    }
    
    .my-page .moonQuote, .my-page .moonQuote i, b{
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .my-page .quote-container2 {
        flex-direction: column;
    }
    .my-page .mainTextMoon {
        background-color: #F1F1F1;
        align-items: center;
        justify-content: center;
        margin-left: 7%;
        margin-right: 7%;
    }
    .my-page h1 {
        font-size: 40px;
    }
    .my-page .moonQuote2, .moonQuote2 i {
        color: #180645;
        line-height: 33px;
        font-size: 20px;
    }


}
